[user]
	email = mleer@cloudflare.com
	name = Michael Leer
	signingkey = 31908B32
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	excludesfile = /Users/mich5225/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "ssh://git@github.com/"]
	insteadOf = git://github.com/
[github]
	user = trozz
	token = 
[color]
	ui = true
